---
import Background from "./Background.astro";
import logo from "../assets/png/lucerna_logo.png";
import { Image } from "astro:assets";
---

<footer class="relative">
  <div class="relative z-5 flex flex-row footer-content">
    <div class="flex flex-col">
      <div class="logo text-[#FCF9EA]">
        <Image src={logo} alt="Lucerna Logo" class="logo h-22 w-auto" />
      </div>
      <p class="copyright">
        © Lucerna AG, St. Gallen — Illuminating Hiring Decisions.
      </p>
      <div class="links">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
    <form
      class="max-w-md mx-auto relative z-10"
      action="https://formspree.io/f/mgovnovw"
      method="POST"
    >
      <div class="grid gap-4 mb-6">
        <input
          type="text"
          name="name"
          placeholder="Name"
          class="bg-[#2D2D2D] border text-[#FCF9EA] border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
        <input
          type="text"
          name="company"
          placeholder="Company"
          class="bg-[#2D2D2D] border text-[#FCF9EA] border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="bg-[#2D2D2D] border text-[#FCF9EA] border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
      </div>
      <button
        type="submit"
        class="bg-[#FCF9EA] hover:bg-[#FBF3D1] text-[#1B1B1B] font-medium py-3 px-8 rounded-full transition duration-300 w-full"
        >Join the Waitlist</button
      >
      <p class="mt-6 text-[#999999] text-sm">
        We'll only reach out when we're ready to launch.
      </p>
    </form>
  </div>
</footer>

<style>
  footer {
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .logo {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
  }

  .logo-icon {
    margin-right: 0.5rem;
  }

  .copyright {
    color: #fcf9ea;
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }

  .links {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
    z-index: 200000;
  }

  .links a {
    color: #fcf9ea;
    text-decoration: none;
    font-size: 0.9rem;
    transition: text-decoration 0.2s;
  }

  .links a:hover {
    text-decoration: underline;
  }

  .location {
    color: #fcf9ea;
    font-size: 0.85rem;
  }

  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
    pointer-events: none;
  }
</style>
