---
import Background from "./Background.astro";
import InfiniteScroll from "./InfiniteScroll.astro";
---

<section
  id="hero"
  class="min-h-screen relative flex flex-col overflow-hidden bg-[#FCF9EA] justify-center items-start px-30"
>
  <div class="absolute right-[25%] top-[50%] w-[50%] h-full overflow-visible">
    <InfiniteScroll
      client:load
      isTilted={true}
      tiltDirection="right"
      autoplay={true}
      autoplaySpeed={0.8}
      autoplayDirection="up"
      pauseOnHover={false}
      class="overflow-visible"
    >
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
      <div class="p-5 text-[#252525] border-solid border-2 rounded h-50">
        Text Item 1
      </div>
    </InfiniteScroll>
  </div>

  <div class="container max-w-4xl text-left z-3">
    <h1
      class="text-5xl md:text-[92px] font-display text-[#252525] font-bold mb-6"
    >
      Illuminate Your Hiring Decisions
    </h1>
    <p class="text-xl md:text-3xl mb-10 max-w-2xl text-[#252525]">
      Lucerna combines AI insight with Swiss precision to make recruiting
      smarter, fairer, and faster.
    </p>
    <div class="flex flex-col sm:flex-row justify-start gap-4">
      <a
        href="#waitlist"
        class="bg-[#2c2e37] leading-[1.2] hover:bg-[#FBF3D1] text-[#eaeaea] hover:text-[#252525] font-medium py-3 px-8 rounded-full transition duration-300"
        >Join the Waitlist</a
      >
      <a
        href="#how-it-works"
        class="leading-[1.2] bg-[#FCF9EA] text-[#252525] hover:bg-[#FBF3D1] hover:text-[#252525] font-medium py-3 px-8 rounded-full transition duration-300"
        >Learn how it works</a
      >
    </div>
    <p class="mt-16 text-[#252525]">From St. Gallen, Switzerland</p>
  </div>
</section>

<style>
  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(11.8px);
    -webkit-backdrop-filter: blur(11.8px);
  }
</style>
