---
import CardNav from "./CardNav.astro";
import logo from "../assets/png/lucerna_logo.png";

const items = [
  {
    label: "About",
    bgColor: "#fbf3d1",
    textColor: "#252525",
    links: [
      {
        label: "What we do",
        href: "#what-we-do",
        ariaLabel: "About What We Do",
      },
      {
        label: "Why Lucerna",
        href: "#benefits",
        ariaLabel: "About Why Lucerna",
      },
      {
        label: "About us",
        href: "#about",
        ariaLabel: "About About us",
      },
    ],
  },
  {
    label: "Project Lucerna",
    bgColor: "#252525",
    textColor: "#fff",
    links: [
      {
        label: "How it works",
        href: "#how-it-works",
        ariaLabel: "Featured Projects",
      },
      {
        label: "Result",
        href: "#dashboard",
        ariaLabel: "Project Case Studies",
      },
    ],
  },
  {
    label: "Contact",
    bgColor: "#FCF9EA",
    textColor: "#252525",
    links: [
      { label: "Email", ariaLabel: "Email us" },
      { label: "Twitter", ariaLabel: "Twitter" },
      { label: "LinkedIn", ariaLabel: "LinkedIn" },
    ],
  },
];
---

<nav>
  <CardNav
    logo={logo}
    logoAlt="Company Logo"
    items={items}
    menuColor="#eaeaea"
    buttonBgColor="#fbf3d1"
    buttonTextColor="#252525"
    ease="power3.out"
  />
</nav>
