---
import LightRays from "./LightRays.astro";
---

<section id="waitlist" class="py-20 px-6 relative text-white">
  <div class="absolute h-full w-full top-0 left-0">
    <LightRays
      raysColor="#ffffff"
      raysOrigin="top-center"
      raysSpeed={1.0}
      mouseInfluence={0}
      lightSpread={0.8}
      class="absolute inset-0"
    />
    <div class="absolute bottom-0 left-0 w-full h-10 gradient"></div>
  </div>
  <div class="max-w-3xl mx-auto text-center relative">
    <h2 class="text-3xl md:text-4xl font-display font-bold mb-6 relative z-10">
      Be the first to see the light
    </h2>
    <p class="text-lg mb-10 max-w-2xl mx-auto relative z-10">
      Join the Lucerna waitlist to stay informed as we bring clarity to hiring.
    </p>

    <form class="max-w-md mx-auto relative z-10">
      <div class="grid gap-4 mb-6">
        <input
          type="text"
          placeholder="Name"
          class="bg-[#2D2D2D] border border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
        <input
          type="text"
          placeholder="Company"
          class="bg-[#2D2D2D] border border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
        <input
          type="email"
          placeholder="Email"
          class="bg-[#2D2D2D] border border-[#4D4D4D] rounded-full px-6 py-3 focus:outline-none focus:ring-2 focus:ring-[#FBF3D1]"
        />
      </div>
      <button
        type="submit"
        class="bg-[#FCF9EA] hover:bg-[#FBF3D1] text-[#1B1B1B] font-medium py-3 px-8 rounded-full transition duration-300 w-full"
        >Join the Waitlist</button
      >
      <p class="mt-6 text-[#999999] text-sm">
        We'll only reach out when we're ready to launch.
      </p>
    </form>
  </div>
</section>

<style>
  .gradient {
  }
</style>
