---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucerna AI | Illuminate Your Hiring Decisions</title>
    <meta
      name="description"
      content="Lucerna is a Swiss AI recruiting startup that brings clarity to hiring — illuminating talent with precision and fairness."
    />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"
    ></script>
  </head>
  <body class="bg-[#2c2e37]">
    <Nav />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { ScrollSmoother } from "gsap/ScrollSmoother";
  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
  ScrollSmoother.create({
    smooth: 1,
    effects: true,
  });
</script>
